Generated: 2026-06-10 13:29:37 UTC

## Input rows

10530

## Corrupted removed

0

## Converted RGB

10530

## Resized

10530

## Output rows

10530

## Class distribution

### Class distribution

| Class | Count |
| --- | ---: |
| NEV | 6949 |
| BCC | 1359 |
| MEL | 1165 |
| AKIEC | 1057 |
